<% @mentions.each do |m| %>
<div class="mention">
	<%# need to incorporate deletion into this. possibly ajax, or route to #destroy then redirect %>
<p><%= link_to m.mentioned_by, user_path( m.mentioned_by ) %>
 mentioned you, in the <%= link_to thread_link_format( m.thread_link ), notification_path( m.id ), :method => 'delete' %> topic.</p>
</div>
<% end %>